version: 2
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "rand"
      - dependency-name: "rand_chacha"
      - dependency-name: "rand_core"
