version: 2
# /Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"
    ignore:
      # TODO(#1299): updating this brings considerable breaking changes
      - dependency-name: "hyper"
      # TODO(#2051): updating this brings considerable breaking changes
      - dependency-name: "rcgen"
      # TODO(#2053): upgrading this leads to errors
      - dependency-name: "reqwest"
      ## Outdated dependencies we cannot upgrade ##
      # Version 0.8.3 requires rustc 1.88
      - dependency-name: "httpmock"
      # This cannot be upgraded because it conflicts the prometheus version required by nearcore
      - dependency-name: "prometheus"
      # TODO(#690): This cannot be upgraded until nearcore does
      - dependency-name: "rocksdb"
      # This version needs to be exactly the same as in `near_sdk::schemars`
      - dependency-name: "schemars"
      # This is deprecated, we should find an alterantive
      - dependency-name: "serde_yaml"
      # TODO(#1907): These dependencies need to be upgraded in tandem
      - dependency-name: "getrandom"
      # TODO(#1907): These dependencies need to be upgraded in tandem
      - dependency-name: "rand"
      # TODO(#1907): These dependencies need to be upgraded in tandem
      - dependency-name: "rand_chacha"
      # TODO(#1907): These dependencies need to be upgraded in tandem
      - dependency-name: "rand_core"
      # Cannot be upgraded until we get MSVR 1.88
      - dependency-name: "time"

# crates/attestation/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/attestation"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/backup-cli/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/backup-cli"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/ckd-example-cli/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/ckd-example-cli"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/contract/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/contract"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/contract-history/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/contract-history"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/contract-interface/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/contract-interface"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/contract-interface/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/contract-interface"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# crates/devnet/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/devnet"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"
    ignore:
      # TODO(#658): use workspace version
      - dependency-name: "rand"
      # TODO(#657): use workspace versions
      - dependency-name: "near-crypto"

# crates/foreign-chain-inspector/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/foreign-chain-inspector"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/foreign-chain-rpc-interfaces/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/foreign-chain-rpc-interfaces"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/include-measurements/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/include-measurements"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/mpc-attestation/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/mpc-attestation"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/node/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/node"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/node-types/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/node-types"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/primitives/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/primitives"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/tee-authority/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/tee-authority"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/test-migration-contract/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/test-migration-contract"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/test-parallel-contract/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/test-parallel-contract"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/test-utils/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/test-utils"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/tls/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/tls"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /crates/utilities/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/crates/utilities"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /infra/scripts/generate_keys/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/infra/scripts/generate_keys"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"

# /infra/scripts/keys/Cargo.toml
updates:
  - package-ecosystem: "cargo"
    target-branch: "main"
    directory: "/infra/scripts/keys"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    cooldown:
      default-days: 7

    groups:
      rust-dependencies:
        patterns:
          - "*"
