# IDE configs
.idea
venv
.vscode
# extensions.json only includes recommended extensions,
# and does not affect VS code behavior
!.vscode/extensions.json

# Lock file generated in contract integration tests
*.itest.build.lock

**/res/
**/target/
**/__pycache__/
/pytest/output.log
/pytest/venv/
/pytest/contract_history/*.wasm
/pytest/nearcore_pytest/nearcore_pytest.egg-info/

**/presignature_network_report_best_case.json
**/signature_network_report_best_case.json
**/triple_network_report_best_case.json
**/triple_network_report_worst_case.json

# Generated on MacOs' file explorer - https://en.wikipedia.org/wiki/.DS_Store
*.DS_Store

# Files for launcher
**/.app-compose.json

# Nix
.nix-cargo/
.direnv/

# TODO(#1768): potentially remove
.envrc