[workspace]
members = ["node", "devnet", "attestation", "crates/primitives", "tee_authority"]
resolver = "2"
exclude = ["libs", "pytest"]

[profile.dev-release]
inherits = "release"
debug = true

[workspace.dependencies]
#workspace members
attestation = { path = "attestation" }

actix = "0.13.0"
aes-gcm = "0.10.3"
anyhow = "1.0.92"
assert_matches = "1.5.0"
async-trait = "0.1.83"
axum = "0.7.9"
backon = { version = "1.5.1", features = ["tokio-sleep"] }
borsh = { version = "1.5.1", features = ["derive"] }
clap = { version = "4.5.20", features = ["derive", "env"] }
curve25519-dalek = "4.1.3"
# TODO(#815): Use upstream library
dcap-qvl = { git = "https://github.com/gilcu3/dcap-qvl", rev = "d25d405eff0a6f5323f80c654ac826f99f64dfc1", default-features = false, features=["contract", "std", "report"] }
# Pinned to resolve compilation errors with conflicting implementations of PartialOrd trait
# See error E0283 with multiple impls satisfying `u128: std::cmp::PartialOrd<_>`
deranged = "=0.4.0"
derive_more = { version = "2.0.1", features = [
    "from",
    "deref",
    "into",
    "as_ref",
    "constructor",
] }
dstack-sdk = { git = "https://github.com/pbeza/dstack.git", rev = "9251fe64afed607c7c86ab4db20bf84c428f968f" }
dstack-sdk-types = { features = ["borsh"], git = "https://github.com/pbeza/dstack.git", rev = "9251fe64afed607c7c86ab4db20bf84c428f968f" }
flume = "0.11.1"
futures = "0.3.31"
futures-util = "0.3.31"
gcloud-sdk = { version = "0.26.2", default-features = false, features = [
    "google-cloud-secretmanager-v1",
    "tls-webpki-roots",
] }
hex = { version = "0.4.3", features = ["serde"] }
hex-literal = "0.4.1"
hkdf = "0.12.4"
http = "1.3.1"
humantime = "2.1.0"
itertools = "0.12.1"
k256 = "0.13.4"
lazy_static = "1.5.0"
lru = "0.12.5"
mockall = "0.13.1"
mpc-primitives = { path = "crates/primitives" }
near-jsonrpc-client = "0.15.1"
near-jsonrpc-primitives = "0.28.0"
near-primitives = "0.28.0"
near-sdk = { version = "5.15.1", features = [
    "legacy",
    "unit-testing",
    "unstable",
] }
prometheus = {version = "0.13.4", default-features = false }
rand = "0.8.5"
rand_xorshift = "0.3"
rcgen = "0.13.1"
rocksdb = "0.21.0"
rustls = { version = "0.23.23", default-features = false }
reqwest = { version = "0.12.9", features = ["multipart"] }
rstest = "0.25.0"
schemars = "0.8.22" # This version needs to be exactly the same as in `near_sdk::schemars`
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
serde_with = "3.14.0"
serde_yaml = "0.9.34"
serial_test = "3.2.0"
sha3 = "0.10.8"
tempfile = "=3.14.0"
thiserror = "2.0.12"
threshold-signatures = { git = "https://github.com/near/threshold-signatures", rev = "52109e54c4c574b44fe3e29378b2cb5ca8b1bb63", features = [
    "k256",
] }
time = "0.3.41"
tokio = { version = "1.41.0", features = ["full"] }
tokio-util = { version = "0.7.12", features = ["time"] }
tokio-rustls = { version = "0.26.1", default-features = false }
tokio-stream = { version = "0.1" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
url = "2"
x509-parser = "0.16.0"

mpc-node = { path = "node" }
# MPC Contract
mpc-contract = { path = "libs/chain-signatures/contract/", features = [
    "dev-utils",
] }
# todo: update once 1.1.0 is pulbished (though the api did not change)
legacy-mpc-contract = { package = "mpc-contract", git = "https://github.com/near/mpc/", rev = "1d4954dff28e8eb988fb7762eff414a602a2b124" }

# NEAR CORE DEPENDENCIES:
near-indexer = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-client = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-config-utils = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-crypto = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-o11y = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
near-time = { git = "https://github.com/near/nearcore", tag = "2.7.0-rc.4" }
