[package]
name = "threshold-signatures"
description = "Threshold Signatures"
repository = "https://github.com/near/threshold-signatures"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
auto_ops = "0.3.0"
blstrs = "0.7.1"
borsh = "1.6.0"
byteorder = "1.5.0"
derive_more = { version = "2.1.1", features= ["deref", "deref_mut", "constructor", "from", "into", "as_ref"]}
digest = "0.10.7"
ecdsa = { version = "0.16.9", features = ["digest", "hazmat"] }
elliptic-curve = { version = "0.13.8" }
frost-core = { version = "2.2.0", default-features = false, features = [
  "serde",
] }
frost-ed25519 = { version = "2.2.0", default-features = false }
frost-secp256k1 = { version = "2.2.0", default-features = false }
futures = "0.3.31"
futures-lite = "2.6.1"
hex = "0.4.3"
hkdf = "0.12.4"
k256 = { version = "0.13.4", default-features = false, features = [
  "sha256",
  "ecdsa",
  "serde",
  "hash2curve",
] }
keccak = "0.1.5"
rand = { version = "0.8.5", optional = true }
# This one cannot be upgraded to remain compatible with rand_core (although used only in test cases)
rand_chacha = {version = "0.3.1", optional = true}
# This one cannot be upgraded to remain compatible with frost-core
rand_core = { version = "0.6.4" }
# This project has been forked due to incompatibility problems with cheater detection feature activated on the original Zcash repo
reddsa = { git = "https://github.com/near/reddsa", rev = "c7cd92a55f7399d8d7f8c0ac386445b5f898f197", default-features = false, features = ["frost"] }
rmp-serde = "1.3.1"
serde = { version = "1.0.228", features = ["derive"] }
serde_bytes = "0.11.19"
serde_json = "1.0.149"
sha2 = "0.10.9"
sha3 = "0.10.8"
subtle = "2.6.1"
thiserror = "2.0.18"
zeroize = { version = "1.8.2", features = ["zeroize_derive"]}

[features]
test-utils = ["rand", "rand_chacha"]

[dev-dependencies]
criterion = {version = "0.8.1", features = ["html_reports"]}
insta = { version = "1.46.1", features = ["json", "redactions"] }
rand = { version = "0.8.5"}
rand_core = { version = "0.6.4", features = ["getrandom"]}
threshold-signatures = { path = ".", features = ["test-utils"] }
average = "0.16"

[lib]
bench = false


[[bench]]
name = "lagrange"
harness = false

[[bench]]
name = "inversion"
harness = false

[[bench]]
name = "naive_robust_ecdsa"
harness = false
required-features = ["test-utils"]

[[bench]]
name = "naive_ot_based_ecdsa"
harness = false
required-features = ["test-utils"]

[[bench]]
name = "advanced_robust_ecdsa"
harness = false
required-features = ["test-utils"]

[[bench]]
name = "advanced_ot_based_ecdsa"
harness = false
required-features = ["test-utils"]

[[bench]]
name = "advanced_eddsa_frost"
harness = false
required-features = ["test-utils"]

[profile.test-release]
inherits = "release"
overflow-checks = true
debug = true

[lints.clippy]
# We might revisit these exceptions in the future
missing-const-for-fn = "allow"
trait-duplication-in-bounds = "allow"
missing-errors-doc = "allow"
similar-names = "allow"
many-single-char-names = "allow"
must-use-candidate = "allow"
return-self-not-must-use = "allow"

# Part of clippy restriction group
indexing-slicing = "deny"
panic = "deny"
panic-in-result-fn = "warn"
unwrap-used = "warn"

# Lint groups used
nursery = {level = "warn", priority = -1}
pedantic = {level = "warn", priority = -1}
