[workspace]
resolver = "2"
exclude = ["libs/nearcore"]
members = [
    "libs/chain-signatures/contract",
    "crates/attestation", 
    "crates/primitives", 
    "crates/tee_authority", 
    "crates/test_utils", 
    "crates/tls",
    "crates/contract_history",
    "devnet",
    "node",
    "pytest/test_contracts/migration",
    "pytest/test_contracts/parallel"
]

[profile.dev-release]
inherits = "release"
debug = true

[profile.release-contract]
inherits = "release"
lto = "fat"
codegen-units = 1
strip = true
panic = "abort"
# Optimize for binary size.
# See https://doc.rust-lang.org/rustc/codegen-options/index.html#opt-level
opt-level = "s"


[profile.reproducible]
inherits = "release"
debug = false
panic = "abort"
codegen-units = 1
overflow-checks = true

[workspace.dependencies]
#workspace members
attestation = { path = "crates/attestation" }
mpc-primitives = { path = "crates/primitives", features = ["abi"] }
test_utils = { path = "crates/test_utils" }
tee_authority = { path = "crates/tee_authority" }
mpc-contract = { path = "libs/chain-signatures/contract/", features = [
    "dev-utils",
] }
mpc-tls = { path = "crates/tls" }


actix = "0.13.0"
aes-gcm = "0.10.3"
anyhow = "1.0.92"
assert_matches = "1.5.0"
async-trait = "0.1.83"
axum = "0.7.9"
backon = { version = "1.5.1", features = ["tokio-sleep"] }
base64 = "0.22.1"
borsh = { version = "1.5.1", features = ["derive", "unstable__schema"] }
bs58 = { version = "0.5.1" }
clap = { version = "4.5.20", features = ["derive", "env"] }
curve25519-dalek = "4.1.3"
dcap-qvl = { version = "0.3.2", default-features = false, features=["contract", "borsh", "std"] }
# Pinned to resolve compilation errors with conflicting implementations of PartialOrd trait
# See error E0283 with multiple implementations satisfying `u128: std::cmp::PartialOrd<_>`
deranged = "=0.4.0"
derive_more = { version = "2.0.1", features = [
    "from",
    "deref",
    "into",
    "as_ref",
    "constructor",
] }
dstack-sdk = { version = "0.1.0" }
dstack-sdk-types = { version = "0.1.0", features = ["borsh"] }
ed25519-dalek = { version = "2.2.0", features = ["serde", "digest", "pkcs8", "rand_core"] }
flume = "0.11.1"
futures = "0.3.31"
futures-util = "0.3.31"
gcloud-sdk = { version = "0.26.2", default-features = false, features = [
    "google-cloud-secretmanager-v1",
    "tls-webpki-roots",
] }
hex = { version = "0.4.3", features = ["serde"] }
hex-literal = "0.4.1"
hkdf = "0.12.4"
http = "1.3.1"
humantime = "2.1.0"
itertools = "0.12.1"
k256 = "0.13.4"
lazy_static = "1.5.0"
lru = "0.12.5"
mockall = "0.13.1"
near-jsonrpc-client = "0.15.1"
near-jsonrpc-primitives = "0.28.0"
near-primitives = "0.28.0"
near-sdk = { version = "5.15.1", features = [
    "legacy",
    "unit-testing",
    "unstable",
] }
prometheus = {version = "0.13.4", default-features = false }
rand = "0.8.5"
rand_xorshift = "0.3"
rcgen = "0.13.1"
rocksdb = "0.21.0"
rustls = { version = "0.23.31", default-features = false, features = ["std"] }
reqwest = { version = "0.12.9", features = ["multipart", "json"] }
rstest = "0.25.0"
schemars = "0.8.22" # This version needs to be exactly the same as in `near_sdk::schemars`
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
serde_with = "3.14.0"
serde_yaml = "0.9.34"
serial_test = "3.2.0"
sha2 = "0.10.9"
sha3 = "0.10.8"
tempfile = "3.22.0"
thiserror = "2.0.12"
# Current HEAD of main branch as of 12-09-2025
threshold-signatures = { git = "https://github.com/near/threshold-signatures", rev = "de8fd0f3caef0920ba94eda48f9d772d9b88f924"}
time = "0.3.41"
tokio = { version = "1.41.0", features = ["full"] }
tokio-util = { version = "0.7.12", features = ["time"] }
tokio-rustls = { version = "0.26.1", default-features = false }
tokio-stream = { version = "0.1" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.20", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
regex = "1.11.2"
url = "2"
x509-parser = "0.16.0"


# NEAR CORE DEPENDENCIES:
near-indexer = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-client = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-config-utils = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-crypto = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-o11y = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-time = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
