[workspace]
members = ["node", "devnet", "crates/attestation", "crates/primitives", "crates/tee_authority", "crates/test_utils", "crates/tls"]
resolver = "2"
exclude = ["libs", "pytest"]

[profile.dev-release]
inherits = "release"
debug = true

[workspace.dependencies]
#workspace members
attestation = { path = "crates/attestation" }
mpc-primitives = { path = "crates/primitives" }
test_utils = { path = "crates/test_utils" }
tee_authority = { path = "crates/tee_authority" }

actix = "0.13.0"
aes-gcm = "0.10.3"
anyhow = "1.0.92"
assert_matches = "1.5.0"
async-trait = "0.1.83"
axum = "0.7.9"
backon = { version = "1.5.1", features = ["tokio-sleep"] }
borsh = { version = "1.5.1", features = ["derive", "unstable__schema"] }
bs58 = { version = "0.5.1" }
clap = { version = "4.5.20", features = ["derive", "env"] }
curve25519-dalek = "4.1.3"
# Latest `master` as per 2025-08-18
dcap-qvl = { version = "0.3.2", default-features = false, features=["contract", "borsh", "std"] }
# Pinned to resolve compilation errors with conflicting implementations of PartialOrd trait
# See error E0283 with multiple implementations satisfying `u128: std::cmp::PartialOrd<_>`
deranged = "=0.4.0"
derive_more = { version = "2.0.1", features = [
    "from",
    "deref",
    "into",
    "as_ref",
    "constructor",
] }
# Latest `master` as per 2025-08-18
dstack-sdk = { git = "https://github.com/Dstack-TEE/dstack.git", rev = "04de4e422bb06f075b4215b2cfc410f5d7ac7aed" }
# Latest `master` as per 2025-08-18
dstack-sdk-types = { features = ["borsh"], git = "https://github.com/Dstack-TEE/dstack.git", rev = "04de4e422bb06f075b4215b2cfc410f5d7ac7aed" }
ed25519-dalek = { version = "2.2.0", features = ["serde", "digest", "pkcs8", "rand_core"] }
flume = "0.11.1"
futures = "0.3.31"
futures-util = "0.3.31"
gcloud-sdk = { version = "0.26.2", default-features = false, features = [
    "google-cloud-secretmanager-v1",
    "tls-webpki-roots",
] }
hex = { version = "0.4.3", features = ["serde"] }
hex-literal = "0.4.1"
hkdf = "0.12.4"
http = "1.3.1"
humantime = "2.1.0"
itertools = "0.12.1"
k256 = "0.13.4"
lazy_static = "1.5.0"
lru = "0.12.5"
mockall = "0.13.1"
mpc-tls = { path = "crates/tls" }
near-jsonrpc-client = "0.15.1"
near-jsonrpc-primitives = "0.28.0"
near-primitives = "0.28.0"
near-sdk = { version = "5.15.1", features = [
    "legacy",
    "unit-testing",
    "unstable",
] }
prometheus = {version = "0.13.4", default-features = false }
rand = "0.8.5"
rand_xorshift = "0.3"
rcgen = "0.13.1"
rocksdb = "0.21.0"
rustls = { version = "0.23.31", default-features = false , features=["std"] }
reqwest = { version = "0.12.9", features = ["multipart"] }
rstest = "0.25.0"
schemars = "0.8.22" # This version needs to be exactly the same as in `near_sdk::schemars`
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
serde_with = "3.14.0"
serde_yaml = "0.9.34"
serial_test = "3.2.0"
sha3 = "0.10.8"
tempfile = "=3.14.0"
thiserror = "2.0.12"
# Current HEAD of main branch as of 28-08-2025
threshold-signatures = { git = "https://github.com/near/threshold-signatures", rev = "b4fbf84ad3244d54f4db54d3b283989861cd5f53"}
time = "0.3.41"
tokio = { version = "1.41.0", features = ["full"] }
tokio-util = { version = "0.7.12", features = ["time"] }
tokio-rustls = { version = "0.26.1", default-features = false }
tokio-stream = { version = "0.1" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.20", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
url = "2"
x509-parser = "0.16.0"

mpc-node = { path = "node" }
# MPC Contract
mpc-contract = { path = "libs/chain-signatures/contract/", features = [
    "dev-utils",
] }
# TODO: update once 1.1.0 is published (though the API did not change)
legacy-mpc-contract = { package = "mpc-contract", git = "https://github.com/near/mpc/", rev = "1d4954dff28e8eb988fb7762eff414a602a2b124" }

# NEAR CORE DEPENDENCIES:
near-indexer = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-client = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-config-utils = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-crypto = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-o11y = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
near-time = { git = "https://github.com/near/nearcore", tag = "2.7.0" }
