[workspace]
resolver = "2"
exclude = ["libs/nearcore"]
members = [
    "crates/attestation",
    "crates/backup-cli",
    "crates/ckd-example-cli",
    "crates/contract",
    "crates/contract-interface",
    "crates/contract_history",
    "crates/devnet",
    "crates/mpc-attestation",
    "crates/node",
    "crates/node-types",
    "crates/primitives",
    "crates/tee_authority",
    "crates/test_migration_contract",
    "crates/test_parallel_contract",
    "crates/test_utils",
    "crates/tls",
    "crates/utilities",
]

[workspace.package]
version = "3.1.0"
edition = "2024"
license = "MIT"

[workspace.dependencies]
#workspace members
attestation = { path = "crates/attestation" }
contract-interface = { path = "crates/contract-interface" }
contract_history = { path = "crates/contract_history" }
mpc-attestation = { path = "crates/mpc-attestation" }
mpc-contract = { path = "crates/contract", features = [
    "dev-utils",
] }
mpc-node = { path = "crates/node" }
mpc-primitives = { path = "crates/primitives", features = ["abi"] }
mpc-tls = { path = "crates/tls" }
node-types = { path = "crates/node-types" }
tee_authority = { path = "crates/tee_authority" }
test_utils = { path = "crates/test_utils" }
utilities = { path = "crates/utilities" }

aes-gcm = "0.10.3"
anyhow = "1.0.92"
assert_matches = "1.5.0"
async-trait = "0.1.83"
axum = "0.7.9"
backon = { version = "1.5.1", features = ["tokio-sleep"] }
base64 = "0.22"
blstrs = "0.7.1"
borsh = { version = "1.5.1", features = ["derive"] }
bs58 = { version = "0.5.1" }
cargo-near-build = "0.9.0"
clap = { version = "4.5.20", features = ["derive", "env"] }
curve25519-dalek = { version = "4.1.3", features = [
    "group",
    "serde",
], default-features = false }
dcap-qvl = { version = "0.3.2", default-features = false, features = ["contract", "borsh", "std"] }
derive_more = { version = "2.0.1", features = [
    "from",
    "deref",
    "into",
    "as_ref",
    "constructor",
] }
digest = "0.10.7"
dstack-sdk = { version = "0.1.1" }
dstack-sdk-types = { version = "0.1.0", features = ["borsh"] }
ecdsa = { version = "0.16.9", features = ["digest", "hazmat"] }
ed25519-dalek = { version = "2.2.0", features = ["serde", "digest", "pkcs8", "rand_core"] }
elliptic-curve = "0.13.8"
flume = "0.11.1"
fs2 = "0.4"
futures = "0.3.31"
gcloud-sdk = { version = "0.26.2", default-features = false, features = [
    "google-cloud-secretmanager-v1",
    "tls-webpki-roots",
] }
getrandom = "0.2.12"
hex = { version = "0.4.3", features = ["serde"] }
hkdf = "0.12.4"
http = "1.3.1"
humantime = "2.1.0"
hyper = { version = "0.14.32", features = ["server", "http1", "tcp", "stream"] } # due to axum
insta = { version = "1.43.1", features = ["json", "redactions"] }
itertools = "0.12.1"
k256 = "0.13.4"
lru = "0.12.5"
mockall = "0.13.1"
near-abi = "0.4.3"
near-account-id = "2.0.0"
near-account-id-v1 = { version = "1.1.4", package = "near-account-id" }
near-jsonrpc-client = "0.15.1"
near-jsonrpc-primitives = "0.28.0"
near-primitives = "0.28.0"
near-sdk = { version = "5.18.1", features = [
    "legacy",
    "unit-testing",
    "unstable",
] }
near-workspaces = { version = "0.21.0" }
prometheus = { version = "0.13.4", default-features = false }
rand = "0.8.5"
rand_chacha = "0.3"
rand_core = "0.6.4"
rcgen = "0.13.1"
reqwest = { version = "0.12.9", features = ["multipart", "json"] }
rocksdb = "0.21.0"
rstest = "0.25.0"
rustls = { version = "0.23.31", default-features = false, features = ["std"] }
schemars = "0.8.22" # This version needs to be exactly the same as in `near_sdk::schemars`
serde = { version = "1.0.225", features = ["derive"] }
serde_json = "1.0.132"
serde_with = { version = "3.14.0", features = ["hex"] }
serde_yaml = "0.9.34"
serial_test = "3.2.0"
sha2 = "0.10.9"
sha3 = "0.10.8"
signature = "2.2.0"
tempfile = "3.22.0"
thiserror = "2.0.12"
# Last commit on main branch as of 30-10-2025
threshold-signatures = { git = "https://github.com/near/threshold-signatures", rev = "53f928c9e7d21f5858fd928b7524c8ce8bf8b854" }
tikv-jemallocator = "0.5.4"
time = "0.3.41"
tokio = { version = "1.41.0", features = ["full"] }
tokio-rustls = { version = "0.26.1", default-features = false }
tokio-stream = { version = "0.1" }
tokio-util = { version = "0.7.12", features = ["time"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.20", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
tracing-test = "0.2.5"
url = "2"
x509-parser = "0.16.0"
zstd = "0.13.3"

# NEAR CORE DEPENDENCIES:
near-async = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-client = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-config-utils = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-crypto = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-indexer = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-o11y = { git = "https://github.com/near/nearcore", tag = "2.10.1" }
near-time = { git = "https://github.com/near/nearcore", tag = "2.10.1" }

[profile.dev-release]
inherits = "release"
debug = true

[profile.release-contract]
inherits = "release"
lto = "fat"
codegen-units = 1
strip = true
panic = "abort"
# Optimize for binary size.
# See https://doc.rust-lang.org/rustc/codegen-options/index.html#opt-level
opt-level = "s"

[profile.reproducible]
inherits = "release"
debug = false
panic = "abort"
codegen-units = 1
overflow-checks = true
