[licenses]
allow = ["Apache-2.0", "MIT", "BSD-2-Clause", "BSD-3-Clause", "Unicode-3.0"]

[advisories]
ignore = [
    "RUSTSEC-2023-0089" # deprecated atomic-polyfill necessary by the serialization feature of rerandomized-frost 2.2.0 called in reddsa
]


[sources]
unknown-git = "deny"
allow-git = [
  "https://github.com/near/reddsa",
]
