[licenses]
allow = ["Apache-2.0", "MIT", "BSD-3-Clause", "Unicode-3.0"]

[advisories]
ignore = [
  "RUSTSEC-2023-0089", # atomic-polyfill is unmaintained
  "RUSTSEC-2024-0436", # paste - no longer maintained
]
