[tasks.check-all-fast]
description = "Run all fast checks"
dependencies = [
  "crate-names",
  "file-names",
  "todo-format",
  "ruff-format",
  "ruff-check",
  "fmt",
  "cargo-sort",
  "cargo-shear",
  "cargo-deny-no-advisories",
  "zizmor",
  "check-markdown-links",
  "check",
  "check-docs",
  "clippy",
  "clippy-all-features",
]

[tasks.check-all]
description = "Run all checks"
dependencies = [
  "crate-names",
  "file-names",
  "todo-format",
  "ruff-format",
  "ruff-check",
  "fmt",
  "cargo-sort",
  "cargo-shear",
  "cargo-deny-no-advisories",
  "zizmor",
  "check-markdown-links",
  "check",
  "check-docs",
  "clippy",
  "clippy-all-features",
  "nextest",
]

[tasks.check-extra]
description = "Run extra checks"
dependencies = ["cargo-deny"]

[tasks.check]
command = "cargo"
args = ["check"]

[tasks.clippy-all-features]
command = "cargo"
args = [
  "clippy",
  "--all-features",
  "--all-targets",
  "--locked",
  "--",
  "-D",
  "warnings",
]

[tasks.clippy]
command = "cargo"
args = ["clippy", "--all-targets", "--locked", "--", "-D", "warnings"]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.cargo-sort]
command = "cargo"
args = ["sort", "--workspace", "--grouped", "--check", "--check-format"]

[tasks.cargo-shear]
command = "cargo"
args = ["shear"]


[tasks.nextest]
command = "cargo"
args = [
  "nextest",
  "run",
  "--cargo-profile=test-release",
  "--all-features",
  "--all-targets",
  "--locked",
]

[tasks.ruff-format]
command = "ruff"
args = ["format", "--diff", "--exclude", "libs/nearcore"]

[tasks.ruff-check]
command = "ruff"
args = ["check", "--diff", "--exclude", "libs/nearcore"]

[tasks.zizmor]
command = "zizmor"
args = [".github/"]

[tasks.crate-names]
command = "bash"
args = ["scripts/check-crates-kebab-case.sh"]

[tasks.file-names]
command = "bash"
args = ["scripts/check-kebab-case-files.sh"]

[tasks.todo-format]
command = "bash"
args = ["scripts/check-todo-format.sh"]

[tasks.cargo-deny]
description = "Run cargo deny"
command = "cargo"
args = ["deny", "--all-features", "check"]

[tasks.cargo-deny-no-advisories]
description = "Run cargo deny without advisories"
command = "cargo"
args = ["deny", "--all-features", "check", "licenses", "bans", "sources"]

[tasks.license-file]
command = "bash"
args = ["scripts/check-third-party-licenses.sh"]

[tasks.check-docs]
description = "Check rustdoc for broken intra-doc links"
command = "cargo"
args = ["doc", "--workspace", "--no-deps"]

[tasks.check-docs.env]
RUSTDOCFLAGS = "-D warnings"

[tasks.check-markdown-links]
command = "lychee"
args = ["--no-progress", "."]

[config]
default_to_workspace = false
