[tasks.check-all-fast]
description = "Run all fast checks"
dependencies = [
  "crate-names",
  "todo-format",
  "ruff-format",
  "ruff-check",
  "fmt",
  "cargo-sort",
  "cargo-shear",
  "cargo-deny",
  "zizmor",
  "check",
  "clippy",
]

[tasks.check-all]
description = "Run all checks"
dependencies = [
  "crate-names",
  "ruff-format",
  "ruff-check",
  "fmt",
  "cargo-sort",
  "cargo-shear",
  "cargo-deny",
  "zizmor",
  "check",
  "clippy",
  "nextest",
]

[tasks.check]
command = "cargo"
args = ["check"]

[tasks.clippy]
command = "cargo"
args = [
  "clippy",
  "--all-features",
  "--all-targets",
  "--locked",
  "--",
  "-D",
  "warnings",
]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.cargo-sort]
command = "cargo"
args = ["sort", "--workspace", "--grouped"]

[tasks.cargo-shear]
command = "cargo"
args = ["shear"]


[tasks.nextest]
command = "cargo"
args = [
  "nextest",
  "run",
  "--profile=test-release",
  "--all-features",
  "--all-targets",
  "--locked",
]

[tasks.ruff-format]
command = "ruff"
args = ["format", "--diff", "--exclude", "libs/nearcore"]

[tasks.ruff-check]
command = "ruff"
args = ["check", "--diff", "--exclude", "libs/nearcore"]

[tasks.zizmor]
command = "zizmor"
args = [".github/"]

[tasks.crate-names]
command = "sh"
args = ["scripts/check-crates-kebab-case.sh"]

[tasks.todo-format]
command = "sh"
args = ["scripts/check-todo-format.sh"]

[tasks.cargo-deny]
description = "Run cargo deny"
command = "cargo"
args = ["deny", "--all-features", "check"]

[config]
default_to_workspace = false
