[package]
name = "mpc-primitives"
version = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["schemars"]

[features]
abi = ["borsh/unstable__schema", "schemars"]

[dependencies]
borsh = { workspace = true }
derive_more = { workspace = true }
hex = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
schemars = { workspace = true, optional = true }

[dev-dependencies]
rand = { workspace = true }
serde_json = { workspace = true }
