[package]
name = "mpc-node"
edition = "2021"
version = { workspace = true }
license = { workspace = true }

[features]
network-hardship-simulation = []
test-utils = ["threshold-signatures/test-utils"]

[dependencies]
aes-gcm = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
backon = { workspace = true }
base64 = { workspace = true }
borsh = { workspace = true }
bs58 = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
contract-interface = { workspace = true }
derive_more = { workspace = true }
ed25519-dalek = { workspace = true }
either = { workspace = true }
flume = { workspace = true }
foreign-chain-inspector = { workspace = true }
futures = { workspace = true }
gcloud-sdk = { workspace = true }
hex = { workspace = true }
http = { workspace = true }
humantime = { workspace = true }
hyper = { workspace = true }
itertools = { workspace = true }
k256 = { workspace = true }
lru = { workspace = true }
mpc-attestation = { workspace = true }
mpc-contract = { workspace = true }
mpc-tls = { workspace = true }
near-account-id = { workspace = true }
near-async = { workspace = true }
near-client = { workspace = true }
near-config-utils = { workspace = true }
near-crypto = { workspace = true }
near-indexer = { workspace = true }
near-indexer-primitives = { workspace = true }
near-o11y = { workspace = true }
near-sdk = { workspace = true }
near-time = { workspace = true }
node-types = { workspace = true }
num_enum = { workspace = true }
pprof = { workspace = true }
prometheus = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
rocksdb = { workspace = true }
rustls = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
serde_yaml = { workspace = true }
sha3 = { workspace = true }
socket2 = { workspace = true }
tee-authority = { workspace = true }
tempfile = { workspace = true }
test-utils = { workspace = true }
thiserror = { workspace = true }
threshold-signatures = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tokio-metrics = { workspace = true }
tokio-rustls = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tower = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }

# Use frame-pointer to get the back-trace on macOS
# see: https://github.com/tikv/pprof-rs/issues/131#issuecomment-1146991294
[target.'cfg(target_os = "macos")'.dependencies]
pprof = { workspace = true, features = ["frame-pointer"] }

[build-dependencies]
built = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
itertools = { workspace = true }
mockall = { workspace = true }
mpc-contract = { workspace = true, features = ["test-utils"] }
near-sdk = { workspace = true }
rstest = { workspace = true }
serial_test = { workspace = true }
test-log = { workspace = true }
threshold-signatures = { workspace = true, features = ["test-utils"] }
tracing-test = { workspace = true }

[lints]
workspace = true
