[tasks.check-all]
description = "Run all checks"
dependencies = [
  "fmt",
  "kebab-file-names",
  "todo-format",
  "check-markdown-links",
  "check",
  "check-docs",
  "deny",
  "clippy",
  "nextest",
]

[tasks.deny]
description = "Run cargo deny"
command = "cargo"
args = ["deny", "--all-features", "check"]

[tasks.check]
command = "cargo"
args = ["check"]

[tasks.clippy]
command = "cargo"
args = [
  "clippy",
  "--all-features",
  "--all-targets",
  "--locked",
  "--",
  "-D",
  "warnings",
]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.nextest]
command = "cargo"
args = [
  "nextest",
  "run",
  "--cargo-profile=test-release",
  "--all-features",
  "--all-targets",
  "--locked",
]

[tasks.fmt-fix]
command = "cargo"
args = ["fmt"]

[tasks.kebab-file-names]
command = "bash"
args = ["scripts/check-kebab-case-files.sh"]

[tasks.todo-format]
command = "bash"
args = ["scripts/check-todo-format.sh"]


[tasks.check-docs]
description = "Check rustdoc for broken intra-doc links"
command = "cargo"
args = ["doc", "--workspace", "--no-deps"]

[tasks.check-docs.env]
RUSTDOCFLAGS = "-D warnings"

[tasks.check-markdown-links]
command = "lychee"
args = ["--no-progress", "."]
