name: Fast CI checks

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  fast-ci-checks:
    name: "Fast CI checks"
    runs-on: warp-ubuntu-2404-x64-8x
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          cache-on-failure: true
          cache-all-crates: true
          cache-provider: "warpbuild"

      - name: Install ruff
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: "--version" # workaround to avoid running ruff check here

      - name: Install cargo-shear
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-shear@1.6.0

      - name: Install cargo-sort
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-sort@2.0.2

      - name: Install zizmor
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: zizmor@1.16.2

      - name: Install cargo-deny
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f # v2.65.1
        with:
          tool: cargo-deny@0.18.9

      - name: Install cargo-make
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-make@0.37.24

      - name: Run cargo-make fast checks
        run: cargo make check-all-fast
