name: Crate names kebab-case

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  ruff-linter:
    name: "Python ruff linter"
    runs-on: warp-ubuntu-2204-x64-2x
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check that crate names follow kebab-case
        run: |
          ./scripts/check-crates-kebab-case.sh
        
    
