name: PR Title Lint

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]

jobs:
  lint-pr-title:
    name: "Lint PR title for Conventional Commits"
    runs-on: warp-ubuntu-2404-x64-2x
    permissions:
      contents: read
    if: github.event_name == 'pull_request' || github.event_name == 'merge_group'
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        with:
          types: |
            feat
            fix
            chore
            docs
            style
            refactor
            perf
            test
            build
            ci
            revert
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
