name: Docker Build and Publish TEE Launcher

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:

  workflow_dispatch:
    inputs:
      build-ref:
        default: 'main'
        description: "The branch, tag or SHA to build MPC Docker image from. Default to latest commit on main branch."
        type: string

jobs:
  docker-image-build:
    name: "Build and push Tee Launcher image"
    runs-on: warp-ubuntu-2204-x64-2x
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.build-ref }}

      - name: Get short SHA
        shell: bash
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_ENV"

      - name: Sanitize build-ref for Docker tags
        shell: bash
        run: |
          # Replace forward slashes with hyphens to create valid Docker tags
          sanitized_ref=$(echo "${{ github.event.inputs.build-ref }}" | sed 's/\//-/g')
          echo "sanitized_ref=$sanitized_ref" >> "$GITHUB_ENV"

      - name: Initialize submodules
        run: git submodule update --init --recursive

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Tee Launcher image to Docker Hub
        uses: Warpbuilds/build-push-action@v6
        with:
          context: tee_launcher/
          profile-name: "mpc-image-builder"
          push: true
          file: tee_launcher/development/Dockerfile.launcher
          tags: nearone/mpc-tee-launcher:latest,nearone/mpc-tee-launcher:${{ env.sanitized_ref }},nearone/mpc-tee-launcher:${{ env.sanitized_ref }}-${{ env.sha_short }}
