rpcs:
  # replace with something more powerful if required
  - url: https://rpc.testnet.near.org
    rate_limit: 5
    max_concurrency: 1

# replace below
infra_ops_path: ../../infra-ops 

# Optional own funding account
# funding_account:
# account_id: your-funding-account.testnet
# kind: FundingAccount
# access_keys:
#   - ed25519:your_private_key_here
